body {
    font-family: Nunito, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("../images/background1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

h1 {
    cursor: default;
    margin-top: 70px;
    margin-bottom: 20px;
    overflow: hidden;
}

h1:before, h1:after {
    background-color: #333;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

h1:before {
    right: 0.5em;
    margin-left: -50%;
}

h1:after {
    left: 0.5em;
    margin-right: -50%;
}

#conteudo {
    margin: 0 auto;
    width: 55%;
    text-align: center;
}

label {
    font-weight: normal;
}

#label-cliente {
    margin-right: 50px;
}

.pointer {
    cursor: pointer;
}

select {
    width: 100%!important;
}

input[type="text"], select  {
    height: 37px!important;
    font-size: 14px!important;
    border-radius: 5px!important;
}

.linha-filtros {
    display: inline-block;
    margin-top: 10px;
    width: 100%;
}

.esquerda-quatro {
    width: 39.5%;
    padding-right: 2%;
    float: left;
}

.esquerda-quatro-menor {
    width: 20%;
    padding-right: 2%;
    float: left;
}

.largura-100 {
    width: 100%;
}

.esquerda-tres {
    width: 33.2%;
    padding-right: 1.3%;
    float: left;
}

.sem-padding-right {
    padding-right: 0;
}

a.botao-a {
	-webkit-transition: all 500ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 500ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 500ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 500ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 500ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    display: block;
    font-weight: 900!important;
    letter-spacing: 0.4px;
    font-size: 17px;
	margin: 20px auto;
	max-width: 180px;
	text-decoration: none;
	border-radius: 4px;
	padding: 20px 30px;
	color: #3498DB;
    box-shadow: rgba(52, 152, 219, 0.85) 0 0px 0px 2px inset;
    background-color: rgba(255,255,255,0.856);
}

a.botao-a:hover {
	color: rgba(255, 255, 255, 0.85);
    text-shadow: -1px 0 rgba(0, 0, 0, 0.1), 0 1px rgba(0, 0, 0, 0.1), 1px 0 rgba(0, 0, 0, 0.1), 0 -1px rgba(0, 0, 0, 0.1);
	box-shadow: rgba(52, 152, 219, 0.85) 0 80px 0px 2px inset;
}

.control {
	left: 25%;
	font-size: 16px;
	position: relative;
    display: block;
    width: 25%;
    float: left;
    margin: auto;
	margin-bottom: 15px;
	padding-left: 30px;
	cursor: pointer;
}

.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.control__indicator {
	position: absolute;
	top: 1px;
	left: 27%;
	width: 20px;
	height: 20px;
	background: #e6e6e6;
}

.control--radio .control__indicator {
	border-radius: 50%;
}

/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
	background: #ccc;
}

/* Checked state */
.control input:checked ~ .control__indicator {
	background: #3498DB;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
	background: #0e647d;
}

/* Check mark */
.control__indicator:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
	display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
	top: 4px;
	left: 8px;
	width: 3px;
	height: 8px;
	transform: rotate(45deg);
	border: solid #fff;
	border-width: 8px 2px 2px 1px;
}

th, .lista td {
    border-right: 1px solid #ddd;
}

.lista th {
    text-align: center!important;
}

.cor-th {
    background-color: #3498DB!important;
    color: #ffffff!important;
}

.lista tr:not(:first-child) {
    cursor: pointer;
}

.lista th:hover {
    cursor: default;
}

.lista tr:not(:first-child):hover
{
    background-color: rgb(205, 201, 227)!important;
}

.infos th {
    width: 12%;
}

.centralizar {
    padding-top: 20px;
    width: 90%;
    margin: auto;
}

.modal-info {
    display: none; /* Começa invisível */
    position: fixed; 
    z-index: 1; /* Fica no topo */
    padding-top: 60px; /* Posição da caixa */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Habilita o scroll, se necessário */
    background-color: rgb(0,0,0); /* Caso a opacidade não funcione, o fundo será preto */
    background-color: rgba(0,0,0,0.4); /* Fundo com opacidade */
}

/* Conteúdo do Modal */
.modal-content-info {
    background-color: #fefefe;
    margin: auto;
    padding: 15px;
    border: 1px solid #888;
    width: 40%;
}

/* O Botão de Fechar (X) do Modal */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 32px;
    font-weight: bold;
}

/* Quando o mouse estiver em cima do botão de fechar do modal */
.close:hover,
.close:focus {
    color: rgb(255, 0, 0);
    text-decoration: none;
    cursor: pointer;
}